<script defer src="/js/menu.js"></script>

<header>
    <button type="button" class="backBtn">
        <a class="goBack">
            <img src="/images/arrow.svg">
        </a>
    </button>

    <a href="/" class="homeAnchor">
        <img src="/images/Logo_IlojoBar.svg" class="headerLogo" />
    </a>

    <div class="menuDropdown">
        <button type="button" class="menuBtn">
            <img src="/images/menu.svg">
        </button>

        <ul class="sideMenu">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <li><a href="/">Home</a></li>
            <li><a href="/discover">Discover</a>
            <h2>Stories</h2>
            <li><a href="/discover/a-spanish-migrant-looking-for-greener-pastures">Spanish migrant</a></li>
            <li><a href="/discover/the-returnees-who-changed-lagos">The returnees</a></li>
            <li><a href="/discover/a-vip-from-abeokuta-visits-fernandez-house">A VIP</a>
            <li><a href="//discover/the-macaulay-connection">The Macaulay connection</a>
            <li><a href="/discover/a-family-house-to-the-olaiyas">A family house</a>
            <li><a href="/discover/memories-of-slave-trade">Slave trade</a>
            <li><a href="/discover/botched-dreams-for-ilojo-bar">Botched dreams</a>
            <li><a href="/discover/the-angels-story">The Angel's Story</a>
            <li><a href="/discover/illegal-demolition">Illegal demolition</a>
    </div>
</header>