<header>
    <a href="/">
        <img src="/images/Logo_IlojoBar.svg" class="headerLogo"/>
    </a>

    <button type="button" class="backBtn">
        <a class = "goBack">
            <img src="/images/arrow.svg">
        </a>
    </button>
</header>