<header>
    <button type="button" class="menuBtn">
        <img src="/images/menu.svg">
    </button>

    <a href="/" class="homeAnchor">
        <img src="/images/Logo_IlojoBar.svg" class="headerLogo"/>
    </a>

    <button type="button" class="backBtn">
        <a class = "goBack">
            <img src="/images/arrow.svg">
        </a>
    </button>
</header>