<script defer src="/js/menu.js"></script>

<header>
    <button type="button" class="backBtn goBack">
        <picture>
            <source srcset="/images/arrow.webp" type="image/webp" >
            <source srcset="/images/arrow.png" type="image/png">
            <img src="/images/arrow.png" width="486px" height="484px" alt="arrow back btn">
        </picture>
    </button>

    <a href="/" class="homeAnchor">
        <picture>
            <source srcset="/images/Logo_IlojoBar.webp" type="image/webp">
            <source srcset="/images/Logo_IlojoBar.png" type="image/png">
            <img src="/images/Logo_IlojoBar.png" class="headerLogo" width="957px" height="338px" alt="logo Ilojo bar">
        </picture>
    </a>

    <button type="button" class="menuBtn">
        <picture>
            <source srcset="/images/menu.webp" type="image/webp">
            <source srcset="/images/menu.png" type="image/png">
            <img src="/images/menu.png" width="484px" height="386px" alt="menu btn">
        </picture>
    </button>

    <nav>
        <div class="close_cont">
            <button type="button" class="close_btn">
                <picture>
                    <source srcset="/images/close.webp" type="image/webp" >
                    <source srcset="/images/close.png" type="image/png">
                    <img src="/images/close.png" width="477px" height="478px" alt="Close button">
                </picture>
            </button>
        </div>

        <ul>
            <li>
                <a href="/">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a href="/discover">
                    <h2>Discover stories</h2>
                </a>
            </li>
            <li class="subItem"><a href="/discover/a-spanish-migrant-looking-for-greener-pastures">Spanish migrant</a></li>
            <li class="subItem"><a href="/discover/the-returnees-who-changed-lagos">The returnees</a></li>
            <li class="subItem"><a href="/discover/a-vip-from-abeokuta-visits-fernandez-house">A VIP</a></li>
            <li class="subItem"><a href="/discover/the-macaulay-connection">The Macaulay connection</a></li>
            <li class="subItem"><a href="/discover/a-family-house-to-the-olaiyas">A family house</a></li>
            <li class="subItem"><a href="/discover/memories-of-slave-trade">Slave trade</a></li>
            <li class="subItem"><a href="/discover/botched-dreams-for-ilojo-bar">Botched dreams</a></li>
            <li class="subItem"><a href="/discover/the-angels-story">The Angel's Story</a></li>
            <li class="subItem"><a href="/discover/illegal-demolition">Illegal demolition</a></li>
        </ul>
    </nav>
</header>