<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilojo Bar</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- body %>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker
                .register('/serviceWorker.js')
                .then(function(registration) {
                    console.log("Service Worker Registered", registration);
                    return registration.update();
                })
                .catch(function(err) {
                    console.log("Service Worker Failed to Register", err);
                })
            })
        }
    </script>
    <script defer src="/js/script.js"></script>
</body>
</html>