<script defer src="/js/menu.js"></script>

<header>
    <button type="button" class="backBtn">
        <a class="goBack">
            <picture>
                <source srcset="/images/arrow.webp" type="image/webp">
                <source srcset="/images/arrow.png" type="image/png">
                <img src="/images/arrow.png" width="486px" height="484px">
            </picture>
        </a>
    </button>

    <a href="/" class="homeAnchor">
        <picture>
            <source srcset="/images/Logo_IlojoBar.webp" type="image/webp">
            <source srcset="/images/Logo_IlojoBar.png" type="image/png">
            <img src="/images/Logo_IlojoBar.png" class="headerLogo" width="957px" height="338px">
        </picture>
    </a>

    <div class="menuDropdown">
        <button type="button" class="menuBtn">
            <picture>
                <source srcset="/images/menu.webp" type="image/webp">
                <source srcset="/images/menu.png" type="image/png">
                <img src="/images/menu.png" width="484px" height="386px">
            </picture>
        </button>

        <ul class="sideMenu">
            <a href="javascript:void(0)" class="closebtn">&times;</a>
            <li>
                <a href="/">
                    <h2>Home</h2>
                </a>
            </li>
            <li>
                <a href="/discover">
                    <h2>Discover stories</h2>
                </a>
            </li>
            <li><a href="/discover/a-spanish-migrant-looking-for-greener-pastures">Spanish migrant</a></li>
            <li><a href="/discover/the-returnees-who-changed-lagos">The returnees</a></li>
            <li><a href="/discover/a-vip-from-abeokuta-visits-fernandez-house">A VIP</a>
            <li><a href="/discover/the-macaulay-connection">The Macaulay connection</a>
            <li><a href="/discover/a-family-house-to-the-olaiyas">A family house</a>
            <li><a href="/discover/memories-of-slave-trade">Slave trade</a>
            <li><a href="/discover/botched-dreams-for-ilojo-bar">Botched dreams</a>
            <li><a href="/discover/the-angels-story">The Angel's Story</a>
            <li><a href="/discover/illegal-demolition">Illegal demolition</a>
    </div>
</header>