<main class="home">
    <img src="/images/Logo_IlojoBar.svg" class="logo">

    <div id="scene-container">

    </div>
</main>

<script type="importmap">
    {
        "imports": {
            "three": "../build/three.module.js"
        }
    }
</script>

<script type="module" src="/three.js"></script>