<%- include('./partials/header.ejs') %>

<main class="model">

    <div id="progress">
        <div id="loadingBar">0%</div>
      </div>

    <div id="scene-container">

    </div>
</main>

<script type="importmap">
    {
        "imports": {
            "three": "../build/three.module.js"
        }
    }
</script>

<script type="module" src="/three.js"></script>