<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js"></script>

<%- include('./partials/header.ejs') %>

<main class="discover"> 
    <ol>
        <% discoverList.forEach(story => { %>
            <li> 
                <h3><%- story.title %></h3>
                <div class="window_wrap">
                    <img class="window door window_L" src="/images/window_L.png" />
                    <img class="window door window_R" src="/images/window_R.png" />
                    <img class="window window_bg" src="/images/window_bg.png" />
                </div>
                <div class="btn_wrap">
                    <button class="">
                        <a href="<%- story.url %>" class="btn_a">Discover</a>
                    </button>
                </div>
            </li>
       <% }); %>
    </ol>
</main>


