<%- include('./partials/header.ejs') %>

<button type="button" class="backBtn">
    <a href="/">
        <img src="/images/arrow.png">
    </a>
</button>

<main class="discover"> 
    <ol>
        <% discoverList.forEach(story => { %>
            <li> 
                <div class="liWrapper">
                    <div class="backCon">
                        <img src="/images/window.png" />
                    </div>
                    <h3><%- story.title %></h3>
                    
                    <a href="<%- story.url %>">Discover</a>
                </div>
            </li>
       <% }); %>
    </ol>
</main>


