<%- include('./partials/header.ejs') %>

<button type="button" class="backBtn">
    <a href="/">
        <img src="/images/arrow.png">
    </a>
</button>

<main class="discover"> 
    <ol>
        <% discoverList.forEach(story => { %>
            <li> 
                <h3><%- story.title %></h3>
                <div class="window_wrap">
                    <img src="/images/window_bg.png" />
                </div>
                <div class="btn_wrap">
                    <button class="">
                        <a href="<%- story.url %>" class="btn_a">Discover</a>
                    </button>
                </div>
            </li>
       <% }); %>
    </ol>
</main>


