<header>
    <img src="/images/Logo_IlojoBar.svg">
</header>

<main class="home">
    <section class="img_cont">
        <div class="scroll_cont">
            <img src="/images/ilojo_bar_bw_2.png">
            <img id="background" src="/images/ilojo_bar_bw_1.jpg">
            <img id="color_building" src="/images/ilojo_bar_bw_2.png" style="opacity: 0;">
            <img id="overlay"src="/images/ilojo_bar_bw_3.png">
        </div>
    </section>

</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>


