{{> header }}

<main>
    <h1>Story</h1>
    <ol>
        {{#each discoverList}}
            <li> 
                <a href="{{this.url}}">{{this.title}}</a>
            </li>
        {{/each}}
    </ol>
</main>


