
:root {
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: rgb(226, 101, 101);
    --blue: rgb(101, 113, 226);
    --column-size: min(100%, 500px);
	--slider-size: min(100%, 460px);
	--slider-border-radius: 2em;
	--slider-fullbleed-gap: 40px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    background-color: var(--light);
    font-family: 'Austral Sans', sans-serif;

    background: url(/images/BG_red.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

    color: var(--light);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

header img {
    height: 5.5em;
    margin-top: 3em;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.4));
    transform-origin: top right;
}

section {
    background: url(/images/BG_red.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

.img_cont {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.scroll_cont {
    transform-origin: 83% 50%;
    height: 100%;
}

.img_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
}

#overlay {
    transform-origin: 80% 50%;
}

.space {
    height: 400vh;
    width: 100%;
    background: blue;
}