:root {
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: rgb(226, 101, 101);
    --blue: rgb(101, 113, 226);
  }

* { 
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header {
    background: rgb(226, 101, 101);
    color: var(--light);
    padding: .8em 1em;
}

main {
    padding: .8em 1em;
}

ol {
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
}

li {
    margin: 1em 0;
    background: var(--blue);
}