:root {
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: #8c0500;
    --redLight: #da2a2a;
}

@font-face {
    font-family: 'Austral Sans';
    src: url('/fonts/AustralSansStamp-Regular.woff2') format('woff2'),
        url('/fonts/AustralSansStamp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Black Ground';
    src: url('/fonts/Black-Ground.woff2') format('woff2'),
        url('/fonts/Black-Ground.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* html {
    height: 100%;
    width: 100%;
} */

body {
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    background-color: var(--light);
    font-family: 'Austral Sans', sans-serif;

    background-image: url(/images/BG_red.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    color: var(--light);

    overscroll-behavior: none;
    height: 100%;
    width: 100%;
}



h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 2em;
}

body > header {
    color: var(--light);
    padding: .8em 1em;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 1.4em;
    font-family: 'Black Ground', sans-serif;
    letter-spacing: .05em;
}

p {
    margin: 1em 0;
}

main {
    padding: .8em 1em;
    width: 100%;
}

.headerLogo {
    height: 50px;
    width: auto;
    display: block;
}

a {
    color: var(--light);
    cursor: pointer;
}

button {
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
}

.red {
    color: var(--red);
}

.btn_a {
    background-image: url('/images/button_bg_light.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: .5em;
    padding: 1.2em 3em 1em 3em;
    color: var(--red);
    transition: transform .75s ease;
    font-family: 'Black Ground', sans-serif;
}

.btn_a:hover {
    transform: scale(1.04);
}

.btn_breed {
    padding: 1.5em 2.2em 1.2em 2.2em;
}

.btn_square {
    background-image: url('/images/button_bg_light_square.webp');
    padding: 1.6em;
}

.btn_square.btn_a:after {
    height: 2px;
}

.btn_a:after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.btn_a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.backBtn {
    position: relative;
}

.fixed {
    position: fixed;
}

/* HOMEPAGE */

/* Header */
header.home {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

header.home p {
    margin: 1.4em 1em;
    font-size: 1.4em;
    text-shadow: 0 0 5px rgb(0 0 0 / 0.4);
    text-align: center;
}

header.home p > span {
    display: inline-block;
    overflow: hidden;
    padding: 5px 5px;
}

.mask_span {
    display: inline-block;
    transform: translateY(0%);
}

header.home img {
    height: 5.5em;
    width: auto;
    margin-top: 3em;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 0.4));
    transform-origin: top right;
}


/* Main */
main.home {
    padding: 0;
    overflow-y: hidden;
}


/* Scrolltrigger section */
.img_cont {
    background-image: url(/images/BG_red.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.scroll_cont {
    transform: scale(1.6);
    transform-origin: 86% 50%;
    height: 100%;
}

.img_cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 69% center;
    display: block;
    position: absolute;
}

#overlay {
    transform-origin: 80% 50%;
}

#background, #overlay, #color_building {
    opacity: 0;
}


/* Discover button section */
.discover_cont {
    position: fixed;
    bottom: 6em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    z-index: 0;
}

.see_model_cont {
    position: fixed;
    top: calc(50vh - 48px);
    right: -.6em;
    z-index: 2;
}

.see_model_cont a {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.see_model_cont img {
    height: 3em;
    width: auto;
}

.see_model_cont p {
    margin: 0;
}

.see_model_cont .btn_a {
    font-size: .75em;
    font-family: 'Austral Sans', sans-serif;
    text-transform: none;
}

/* Footer */
footer.home {
    position: fixed;
    bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    pointer-events: all;
}

.scroll_btn {
    opacity: 0;
}

.scroll_btn i {
    height: 5em;
    width: 3.125em;
    border: 0.25em solid #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3.125em;
    border-radius: 1.5em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
    transform: scale(.8);
}

.scroll_btn i:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    top: .8em;
    height: .8em;
    width: .8em;
    background-color: #ffffff;
    border-radius: 100%;
    animation: move-down 2s infinite;
}

@keyframes move-down {
    80% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(2.60em);
        opacity: 0;
    }
}

.scroll_btn {
    appearance: none;
    border: none;
    background: transparent;
    height: auto;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Austral Sans', sans-serif;
}

.scroll_btn span{
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Austral Sans', sans-serif;
}

/* DISCOVER PAGE */

main.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - calc(1.6em + 50px));
    padding: 0;
    cursor: pointer;
}

.discover header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.discover h3 {
    font-size: 1.2em;
    min-height: 2.3em;
}

.discover ol {
    padding: 0;
    margin: 0;
    margin-top: 1em;
    list-style: none;
    display: flex;
    overflow-x: scroll;
    /*scroll-snap-type: x mandatory;*/
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: .5em;
    padding: 0 1.5em;
    transition: all 0.2s;
    cursor: grab;
}

.discover ol:active {
    cursor:grabbing;
}
     
.discover ol::-webkit-scrollbar {
    display: none;
}

.discover li {
    scroll-snap-align: center;
    height: 100%;
    display: flex;
    color: var(--light);
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: .5em;
}

.no_snap {
    scroll-snap-align: none;
    scroll-snap-type: none;
}

.discover li .window_wrap {
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
}


.discover li img {
    object-fit: contain;
    height: 90%;
    width: auto;
}

.window {
    position: absolute;
}

.door {
    z-index: 2;
    transition: transform 1s ease, filter 1s ease;
}

.window_L {
    transform-origin: 16.28%;
}

.window_R {
    transform-origin: 86.04%;
}

.window_bg {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.4));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.4));
}

li:hover .window_L {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-110deg);
    -webkit-filter: drop-shadow(10px 6px 5px rgba(0,0,0,.2));
    filter: drop-shadow(10px 6px 5px rgba(0,0,0,.2));
}

li:hover .window_R {
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(110deg);
    -webkit-filter: drop-shadow(-10px 6px 5px rgba(0,0,0,.2));
    filter: drop-shadow(-10px 6px 5px rgba(0,0,0,.2));
}

.window_img_cont {
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    mask-image: url(/images/windows.webp);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
    -webkit-mask-image: url(/images/windows.webp);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom;
}

.window_img_inner {
    height: 56%;
    width: 39vh;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.4));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.4));
}

.discover .window_img_inner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* STORY PAGE */
main.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    gap: 2em;
}

.story article h1 {
    margin-bottom: .5em;
}

.story section {
    display: flex;
    gap: 1em;
    font-size: 1.3em;
}

.story section:nth-child(2n) {
    flex-direction: row-reverse;
}

.story section p {
    margin-top: .3em;
    font-size: 1.05em;
    line-height: 1.2em;
}

.alinea_image {
    width: 40%;
}

.alinea_image+div {
    width: 60%;
}

.alinea_image img {
    width: 100%;
}

.next_prev_cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.back {
    margin-right: auto;
}

.next {
    margin-left: auto;
}

/* WRECKING BALL */
#wreckingBall {
    overflow-y: clip;
}

.containerWreckingBall{
    overflow: hidden;
}

.wrecker {
    max-width: 80%;
    display: block;
    width: 200px;
    height: 200px;
    float: left;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin-left: -150px;
    transform: rotate(30deg);
    z-index: -1;
}

.wrecker:before {
    content: " ";
    background-color: white;
    width: 50px;
    height: 35px;
    display: block;
    border-radius: 50%;
    transform: rotate(-30deg);
    opacity: 0.5;
    top: 50px;
    left: 75px;
    position: absolute;
}

.wrecker:after {
    content: " ";
    background-color: black;
    width: 5px;
    height: 1141px;
    display: block;
    top: -1102px;
    left: 50%;
    position: absolute;
}

@keyframes wreckit {
    0% {
        margin-left: -150px;
        shape-outside: circle(150px at 0px 150px);
        transform: rotate(30deg);
    }

    100% {
        margin-left: 150px;
        shape-outside: circle(150px at 1150px 150px);
        transform: rotate(-30deg);
    }
}

/* OFFLINE PAGE */
main.offline{
    width: 100%;
    height: calc(100vh - calc(1.6em + 50px));
}



/* 3D MODEL PAGE */
main.model {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#scene-container{
    margin-bottom: 100px;
}

.modelCanvas {
    margin-top: -150px;
    margin-bottom: -190px;
}

#progress {
    width: 100%;
    max-width: 400px;
    background-color: var(--grey);
    border-radius: 15px;
    margin-top: 150px;
}

#loadingBar {
    width: 0%;
    height: 30px;
    background-color: var(--dark);
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px;
}


/* Back button */
.backBtn {
    background-color: transparent;
    border: none;
    width: 3.5em;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: 0.3s linear;
}

.backBtn img {
    width: 100%;
    height: auto;
}

.backBtn:hover {
    opacity: 1;
}


/* Header */
.homeAnchor {
    display: block;
}

/* MENU */
nav {
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0px;
    background-color: var(--dark);
    transition: transform .75s ease-in-out;
    padding: 2em 3.3em;
    margin-left: 0px;
    transform: translateX(110%);
}

nav:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: -37px;
    background-image: url(/images/menuSide.webp);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    width: 46px;
}

nav.open {
    transform: translateX(0);
}

nav .close_cont {
    width: 100%;
    display: flex;
    justify-content: end;
}
  
nav .close_btn {
    width: 3.5em;
}

nav .close_btn img {
    width: 100%;
    height: auto;
}

nav ul {
    padding: 0;
    margin-top: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 4em;
}

nav li {
    list-style-type: none;
}
  
nav h2 {
    color: var(--light);
    transition: transform 1s ease;
    font-size: 1.4em;
    text-align: inherit;
    font-family: 'Black Ground', sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    width: fit-content;
    display: flex;
    gap: 0.1em;
    flex-direction: column;
    transition: transform 1s ease;
}

nav a.active, nav a.active h2 {
    color: var(--redLight);
}

nav a.active:after {
    background-color: var(--redLight);
    transform: scaleX(1);
}

nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav a:after {
    content: '';
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: var(--light);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.subItem {
    margin-left: 1em;
}

.menuBtn {
    position: relative;
    background-color: transparent;
    border: none;
    width: 3.5em;
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: 0.3s linear;
}

.menuBtn img {
    width: 100%;
    height: auto;
}

.menuBtn:hover {
    opacity: 1;
}

/* LOADING BAR */
#progress {
    width: 100%;
    max-width: 400px;
    background-color: var(--grey);
    border-radius: 15px;
    margin-top: 150px;
}

#loadingBar {
    width: 0%;
    height: 30px;
    background-color: var(--dark);
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 15px;
}


@media only screen and (max-width: 1220px) {
    .in-view .window_L {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-110deg);
        -webkit-filter: drop-shadow(10px 6px 5px rgba(0,0,0,.2));
        filter: drop-shadow(10px 6px 5px rgba(0,0,0,.2));
    }

    .in-view .window_R {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(110deg);
        -webkit-filter: drop-shadow(-10px 6px 5px rgba(0,0,0,.2));
        filter: drop-shadow(-10px 6px 5px rgba(0,0,0,.2));
    }
}


@media only screen and (max-width: 756px) {
    main {
        padding: .8em 1.9em;
    }

    .discover ol {
        scroll-snap-type: x mandatory;
    }
    
    .story section, .story section:nth-child(2n) { 
        flex-direction: column-reverse;
    }   

    .alinea_image {
        width: 100%;
    }

    .alinea_image+div {
        width: 100%;
    }

    .story article {
        gap: 1.3em;
    }

    .backBtn, .menuBtn {
        width: 4.1em;
    }

    .scroll_cont {
        transform-origin: 85% 50%;
    }
}

@media only screen and (max-width: 550px) {
    .scroll_cont {
        transform-origin: 72% 50%;
    }
}