:root {
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: rgb(226, 101, 101);
    --blue: rgb(101, 113, 226);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
    background-color: var(--light);
    font-family: sans-serif;

    overflow-x: hidden;
}

h1,
h3 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

header {
    background: rgb(226, 101, 101);
    color: var(--light);
    padding: .8em 1em;
}

main {
    padding: .8em 1em;
}

ol {
    width: 100%;
    height: 100%;
    padding: 0;
    list-style: none;
}

li {
    margin: 1em 0;
    background: var(--blue);
}

p {
    margin: 1em 0;
}

.modelCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;
}

#scene-container {

    width: 100%;

    height: 100%;

    display: block;

    position: absolute;
}

#buttonHomePage {
    margin: 0 auto;
    display: block;
    top: 80%;
    position: absolute;
    width: 10em;
    height: 3em;
    left: 50%;
    transform: translateX(-50%);
}